@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Cabin+Condensed&family=Courgette&family=Fira+Sans&family=Fredoka+One&family=Inter:wght@300&family=Leckerli+One&family=Pacifico&family=Poppins:wght@500&family=Roboto&family=Roboto+Condensed&family=Rubik&family=Signika+Negative:wght@300&family=Source+Sans+Pro&family=Ubuntu:wght@300;400&family=Varela+Round&family=Yanone+Kaffeesatz&display=swap');

.Navbar {
    font-family: 'Poppins';
    transition: all .3s;
    box-shadow: 0px 0px 20px -5px #232354;
}

nav {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    display: grid;
    text-align: center;
}

nav .logo a {
    font-family: 'Leckerli One';
    text-decoration: none;
    font-size: 2rem;
    color: #232354;
    cursor: pointer;
}

.logintab {
    border: 1px solid #232354;
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    color: #232354;
}

.neettab {
    color: #232354;
}

.signuptab {
    color: white;
    background-color: #232354;
    border-radius: .3rem;
    padding: .6rem 1.5rem;
}

nav .RightNav a {
    font-size: 19px;
    font-weight: 400;
    text-decoration: none;
    margin: 0rem 1rem;
    transition: all 400ms ease;
}

nav .RightNav .signuptab:hover {
    color: white;
}

nav .RightNav .logintab:hover {
    color: #232354;
}

nav .RightNav span {
    font-size: 30px;
    color: #232354;
    padding: 1rem;
    transition: all 400ms ease;
}

nav .RightNav small {
    font-size: 16px;
    color: #232354;
    padding: 1rem;
    transition: all 400ms ease;
}

/*  phone nav bar css  */
.Bars {
    display: none;
    color: #232354;
    font-size: 1.4rem;
    cursor: pointer;
}

.Sidenav {
    display: none;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #232354;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 0px; */
}

.Sidenav a {
    padding: 8px 8px 8px 50px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
}

.Sidenav span {
    padding: 10px 0px 25px 100px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
}

.avtar {
    cursor: pointer;
}


/* dropdown css  */
.profile-options {
    position: absolute;
    right: 7rem;
    top: 80px;
    width: 180px;
    max-height: fit-content;
    box-shadow: 0 8px 9px 0 rgba(160, 160, 160, 0.5);
    background-color: #fff;
    height: 0px;
    overflow-y: hidden;
    transition: all 0.5s ease-in;
    cursor: pointer;
}

.profile-options>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: inherit;
    height: inherit;
}

.profile-options>ul>li {
    height: 47px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #232354;
}

.profile-options>ul>li:last-child {
    border-bottom: none;
}

.profile-options ul li a {
    display: block;
    padding: 18px 0px 0px 34px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #232354;
    text-decoration: none;
}

.profile-options ul li a:hover {
    background-color: #f2edf8;
}

/* media query start  */

@media screen and (max-width:1024px) {
    .avtar {
        display: none;
    }
}

@media screen and (max-width:800px) {
    nav {
        padding: .2rem;
    }

    .RightNav a {
        display: none;
    }

    .Bars {
        display: block;
    }

    .Sidenav {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    nav .logo span {
        font-family: 'Leckerli One';
        font-size: 1.3rem;
        padding-top: .5rem;
    }
}